CompileFlags:
  Add: [
    "--target=riscv32",
    "-nostdlib",
    "-nostdinc",
  ]


# CompileFlags:
#   Add:
#     - -std=c11
#
#     # 📦 Peripheral headers (тут ch32v20x.h)
#     - -IInc/V20X
#     - -IInc/V30X
#
#     - -ISrc/V20X
#     - -ISrc/V30X
#
# Index:
#   Background: true
#
# Diagnostics:
#   UnusedIncludes: Strict
#
# Hover:
#   ShowAKA: true
